.contact_link {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.contact_wrapper {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black; /*文字色*/
  background: #fff;
  border-radius: 10px; /*角の丸み*/
  width: 100%;
  text-align: center;
}

.text {
  text-align: left;
}

.contact_link {
  display: block;
}
