.contact_link {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.contact_title {
  color: #ff993e;
}

.contact_wrapper {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black; /*文字色*/
  background: #fff;
  border-radius: 10px; /*角の丸み*/
  width: 100%;
  text-align: center;
}

.text {
  text-align: left;
}

.contact_link {
  display: block;
}

.contact_link:hover {
  color: coral;
}

@media screen and (max-width: 480px) {
  .contact_link {
    width: 100%;
  }

  .contact_wrapper {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
  }
}
