.detail__article {
  /* width: 100%; */
  width: 620px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  margin-bottom: 48px;
}

.detail__wrapper {
  padding: 0 40px;
  margin: 0 auto;
}

.detail__image {
  width: 100%;
  height: auto;
}

.detail__text {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .detail__image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .detail__article {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .detail__wrapper {
    padding: 0 10px;
    margin: 0 auto;
  }

  .detail__text p {
    overflow-wrap: break-word;
  }

  .detail__text img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
