*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}
