.header {
  width: 100%;
  background-color: white;
}

.header__wrap {
  max-width: 1200px;
  padding: 0 40px;
}

.header__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact {
  background-color: #ff993e;
  padding: 0.6em 1.5em;
  color: white;
  border-radius: 0.45em;
}

.navi {
  z-index: 999;
  position: sticky;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.navi_a {
  font-weight: 600;
  margin-right: 1.7rem;
  padding: 0.5rem 0;
}
