.content {
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative; /* ←相対位置 */
  padding-bottom: 100px; /* ←フッターの高さを指定 */
  /* box-sizing: border-box; */
}

.header {
  width: 100%;
  background-color: white;
  height: 65px;
}

.header__wrap {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  align-items: center;
}

.header__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact {
  background-color: #ff993e;
  padding: 0.6em 1.5em;
  color: white;
  border-radius: 0.45em;
  transition: background-color 0.5s;
}
.header__contact:hover {
  background-color: #eb8c39;
}

.title_text {
  color: #ff993e;
  font-weight: 700;
  font-size: 20px;
}

.navi {
  z-index: 999;
  position: sticky;
  top: 0;
  /* height: 48px; */
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #cfcece;
}

.navi_a {
  font-weight: 600;
  font-size: 18px;
  margin-right: 1.7rem;
  padding: 0.5rem 0;
  color: #c3aca3;
  text-decoration: none;
  transition: color 0.5s;
}

.navi_a:hover {
  color: black;
}

.active {
  color: red;
}

.nav__wrap {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  align-items: center;
}

.nav__slide {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #ff993e;
  margin-top: 0px;
  margin-bottom: 0;
  height: 80px;
  width: 100%;
  padding-top: 10px;
  position: absolute; /* ←絶対位置 */
  bottom: 0;
}

.footer__nav__slide {
  width: 100%;
  text-align: center;
}

.footer__nav__a {
  color: white;
  margin: 0 20px;
}

.footer__message {
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
}
