.header {
  width: 100%;
  background-color: white;
  height: 65px;
}

.header__wrap {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  align-items: center;
}

.header__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact {
  background-color: #ff993e;
  padding: 0.6em 1.5em;
  color: white;
  border-radius: 0.45em;
  transition: background-color 0.5s;
}
.header__contact:hover {
  background-color: #eb8c39;
}

.navi {
  z-index: 999;
  position: sticky;
  height: 48px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #cfcece;
}

.navi_a {
  font-weight: 600;
  font-size: 18px;
  margin-right: 1.7rem;
  padding: 0.5rem 0;
  color: #c3aca3;
  text-decoration: none;
  transition: color 0.5s;
}

.navi_a:hover {
  color: black;
}

.nav__wrap {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  align-items: center;
}

.nav__slide {
  display: flex;
  align-items: center;
}
