.intro_section {
  padding: 3rem 0 1.5rem;
}

.intro__wrapper {
  padding: 0 40px;
}

.intro__content {
  display: flex;
  width: 100%;
}

.intro__image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__code {
  width: 60%;
}

.intro__textBox {
  width: 50%;
}

/* 資格やスキルのセクション */

.skill_section {
  background-color: #fff1de;
  padding: 1.5rem 0;
}

.skill__wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

/* 仕事関連のセクション */
.section_title {
  text-align: center;
}

.programming_wrapper {
  display: flex;
}

.programming__comp {
  display: flex;
}

.programming_image {
  width: 25%;
  margin-right: 20px;
}

.programming__Logo {
  width: 100%;
  object-fit: cover;
}

.programming_text {
  align-items: center;
}

.programming_cate {
  font-weight: 700;
  font-size: 1.8rem;
}

.detail__link {
  text-align: right;
  display: inline-block;
  width: 100%;
  color: #ff993e;
  font-weight: 700;
  transition: color 0.5s;
}

.detail__link:hover {
  color: #d88237;
}

@media screen and (max-width: 480px) {
  .intro__content {
    display: flex;
    flex-direction: column;
  }

  .intro__image {
    width: 100%;
  }

  .intro__textBox {
    width: 100%;
  }
}
