.intro_section {
  padding: 3rem 0 1.5rem;
}

.intro__wrapper {
  padding: 0 40px;
}

.intro__content {
  display: flex;
  width: 100%;
}

.intro__image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__code {
  width: 60%;
}

.intro__textBox {
  width: 50%;
}

/* 資格やスキルのセクション */

.skill_section {
  background-color: #fff1de;
  padding: 3.5rem 0;
}

.skill__wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

/* 仕事関連のセクション */
.section_title {
  text-align: center;
}
.works_section {
}

.blog_section {
}

.programming_wrapper {
  display: flex;
}

.programming__comp {
  display: flex;
}

.programming__image {
  width: 15%;
}

.programming_cate {
  font-weight: 700;
  font-size: 1.8rem;
}
