.cardlayout_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  margin: 2em auto;
  max-width: 960px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* リンクテキストの下線を非表示 */
a.card_link {
  text-decoration: none;
}

/* カードレイアウト内の画像を幅いっぱいに表示 */
.cardlayout_wrap_image {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-figure {
  margin: 0;
  padding: 0;
}

/* カードレイアウトのタイトル部分 */
.card_title {
  margin: 0.6em 0 0;
  color: #333;
  text-align: center;
  font-size: 1.8em;
}

/* カードレイアウトの説明文部分 */
.card_text_tax {
  margin: 0;
  padding: 1em;
  /* color: #818181; */
}

/* カードレイアウトを1カラムで配置 */
.card_list {
  margin: 0.5em auto;
  padding: 0;
  width: 100%;
  /* background: #f0f0f0; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
@media all and (min-width: 768px) {
  .card_list {
    margin: 0.5em 0;
    width: calc(96% / 2); /* 100%幅を2で割るという指定 */
  }
}

/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
@media all and (min-width: 992px) {
  .card_list {
    width: calc(96% / 3); /* 100%幅を3で割るという指定 */
  }

  /* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
  .cardlayout_wrap::after {
    content: "";
    display: block;
    width: calc(96% / 3);
  }
}
